body{
  background-color: "white";
  align-items: center;
}
h1{
  height: 10%;
  width: 80%;
  padding-left: 50px;
  padding-top: 10px;
  font-size:36px;
  font-weight:bold;
  color:black;
  margin-left:50px;
  margin-top:20px;
  }
h5{
  padding-left: 10px;
  padding-top: 10px;
  font-size:24px;
  font-weight:bold;
  margin-left:20px;
  margin-top:20px;
  text-align: center;
  }
#dataviz_area{
   width: 80%;
   padding-left: 60px;
   padding-top: 0px;
   font-size:16px;
   font-weight:bold;
   margin-left:50px;
   margin-top:50px;
   text-align: center;
 }
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: text-bottom;
  align:"right"
  }
.scroll{
  background-color: #d3d3d3;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: center;
  margin-left:10px;
  }
.nav{
  float: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:60px;
  }
.filters{
  width: 80%;
  float: center;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left:60px;
  }
.filter_button{
  background-color: #d3d3d3;
  color: white;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: center;
  }
.dropdown{
  width: 80%;
  float: left;
  align-items: left;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left:60px;
  }
.description{
  background-color: #d3d3d3;
  margin-left:200px;
  margin-right:200px;
  margin-top:10px;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 50px;
  align-self: center;
  align-content: center;
}
.line {
  fill: none;
  stroke-width: 2px;
  stroke:"blue"
}
#selectButton{
  align-items: left;
  align-content: left;
}
